html {
    font-size: 10px; /* px quiere decir 'pixels': la base del tamaño de fuente es ahora de 1o pixeles*/
    font-family: 'Chelsea Market', cursive;
    /* background-color: lightblue; */
    
    /* la imagen a ser mostrada a pantalla completa */
    background:url('fondo.jpg') no-repeat center center;
 
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
    min-height:100%;
 
    /* Propiedad a utilizar para la imagen */
    background-size:cover;
    
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: lightsteelblue;
  text-shadow: 3px 3px 1px #333;
  
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  color: #333
}
body {
  width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  background-color:lightgrey;
  padding: 0 20px 20px 20px;
  box-shadow: 0px 0px 30px #333;
  border-radius: 8px;


  

}
img {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 5px #333; 
  border-radius: 8px;
}


/*
header{ 
    
  text-align: center;
  width: auto;
  margin:0 auto;
  padding: 10px 10px 10px 10px;
  border: 5px solid black;
}
*/

h2 {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 15px;
  text-align: center;
  color: lightsteelblue;
  padding: 14px 16px;
  box-shadow: 0px 0px 5px #333;
  border-radius: 8px;


}

hr {
    color: #333
    
        
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #333;
  border-radius: 8px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: lightsteelblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightsteelblue;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}





 /* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
} 


.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 20px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-instagram  {background: #E4405F;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
    .social ul li .icon-whatsapp {background: #25D366;}
    
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 20px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}




/*  codigo CSS del Header */

    header {
        width:100%; /* Establecemos que el header abarque el 100% del documento */
        overflow:hidden; /* Eliminamos errores de float */
        background:#252932;
        margin-bottom:20px;
    }

    .wrapper {
        width:90%; /* Establecemos que el ancho sera del 90% */
        max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
        margin:auto; /* Centramos los elementos */
        overflow:hidden; /* Eliminamos errores de float */
    }

    header .logo {
          text-align: center;
        color:#f2f2f2;
        font-size:50px;
        line-height:200px;
        float:none;
    }

    header nav {
        float:right;
        line-height:20px;
    }

    header nav a {
        display:inline-block;
        color:#fff;
        text-decoration:none;
        padding:10px 20px;
        line-height:normal;
        font-size:20px;
        font-weight:bold;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition:all 500ms ease;
    }

  




