html {
    font-size: 10px; /* px quiere decir 'pixels': la base del tamaño de fuente es ahora de 1o pixeles*/
    font-family: 'Chelsea Market', cursive;
    /* background-color: lightblue; */
    
    /* la imagen a ser mostrada a pantalla completa */
    background:url('fondo.jpg') no-repeat center center;
 
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
    min-height:100%;
 
    /* Propiedad a utilizar para la imagen */
    background-size:cover;
    
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: lightsteelblue;
  text-shadow: 3px 3px 1px #333;
  
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  color: #333
}
body {
  width: 650px;
  margin: 0 auto;
  background-color:lightgrey;
  padding: 0 20px 20px 20px;
   box-shadow: 0px 0px 30px #333;   

  

}
img {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 5px #333; 
  border-radius: 8px;
}

li {
  list-style-type: disc;
}

header{ 
    
  text-align: center;
  width: auto;
  margin:0 auto;
  padding: 10px 10px 10px 10px;
  border: 5px solid black;
}

h2 {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 15px;
  text-align: center;
  color: lightblue;
  padding: 14px 16px;
  box-shadow: 0px 0px 5px #333;
  border-radius: 8px;


}

hr {
    color: #333
    
        
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px #333;
  border-radius: 8px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightblue;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}